@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 15px;
  }

  nav {
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav a {
    margin: 5px 10px;
    
  }

  .banner {
    height: 50vh;
  }

  .banner-content h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .advantages {
    grid-template-columns: 1fr;
  }

  .footer-content {
    grid-template-columns: 1fr;
  }
}
