<!-- Подвал -->
<footer class="main-footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-column">
          <h3>Часы работы</h3>
          <p>Пн-Пт: 8:00 - 18:00</p>
          <!-- <p>Сб: 9:00 - 14:00</p> -->
          <p>Вс: выходной</p>
        </div>
        <div class="footer-column">
          <h3>Адрес</h3>
          <p><i class="fas fa-map-marker-alt"></i> Ташкент, Юнусабадский район, массив Юнусабад, 7-й квартал, 16/1</p>
        </div>
        <div class="footer-column">
          <h3>Контакты</h3>
          <p><i class="fas fa-map-marker-alt"></i> Ташкент, Юнусабадский район</p>
          <p><i class="fas fa-phone-alt"></i> +998 (71) 123-45-67</p>
          <p><i class="fas fa-envelope"></i> info@schoolacademy.uz</p>
        </div>
        <div class="footer-column">
          <h3>Соцсети</h3>
          <div class="social-links">
            <a href="https://t.me/Shkolnayakademiya"><i class="fab fa-telegram"></i></a>
            <a href="https://www.instagram.com/shkolnayakademiya/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/NOUShkolnayaAkademiya/?locale=ru_RU"><i class="fab fa-facebook-f"></i></a>
          </div>
        </div>
        <!-- <div class="footer-column"></div> -->
      </div>
      <!-- <div class="footer-column" style="position: relative"> -->
     
      <div class="footer-map">
        <a href="https://yandex.uz/maps/org/97045873646/?utm_medium=mapframe&utm_source=maps"
          style="color: #eee; font-size: 12px; position: absolute; top: 0px">Школьная академия</a><a
          href="https://yandex.uz/maps/10335/tashkent/category/private_school/184106252/?utm_medium=mapframe&utm_source=maps"
          style="color: #eee; font-size: 12px; position: absolute; top: 14px">Частная школа в Ташкенте</a>
        <iframe
          src="https://yandex.uz/map-widget/v1/?ll=69.272024%2C41.370359&mode=poi&poi%5Bpoint%5D=69.271655%2C41.371280&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D97045873646&z=17.94"
          width="600" height="500" frameborder="1" allowfullscreen="true" style="position: relative">
        </iframe>
      </div>

    </div>
    <div class="copyright">
      <p>© 2024 School Academy. Все права защищены.</p>
      <!-- Yandex Metrika -->
      <!-- <noscript>
        <div><img src="https://mc.yandex.ru/watch/XXXXXX" style="position:absolute; left:-9999px;" alt="" /></div>
      </noscript> -->

    </div>
    </div>
  </footer>